<!-- Button trigger modal -->
<a type="button" data-bs-toggle="modal" data-bs-target="#addExperiencia"><i class="fas fa-plus text-dark"></i></a>
  
  <!-- Modal -->
  <div class="modal fade" id="addExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onCreate()" enctype="multipart/form-data" method="post">
                <div class="row mb-3">
                  <label for="empresa" class="col-form-label">Empresa</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="empresa" name="empresa" formControlName="empresa">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="cargo" class="col-form-label">Cargo</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="cargo" name="cargo" formControlName="cargo">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="logo" class="col-form-label">Logo Empresa</label>
                    <div class="col-sm-12">
                      <input type="file" class="form-control" id="logo" accept="image/*" name="logo" (change)="onImageUpload($event)" formControlName="logo">
                    </div>
                  </div>
                <div class="row mb-3">
                    <label for="inicio" class="col-form-label">Inicio</label>
                    <div class="col-sm-6">
                      <input type="date" class="form-control" id="inicio" name="inicio" formControlName="inicio">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fin" class="col-form-label">Fin (o fecha prevista)</label>
                    <div class="col-sm-6">
                      <input type="date" class="form-control" id="fin" name="fin" formControlName="fin">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>