<header class="main-header">
    <div class="container bg-dark">
  
        <p class="text-white">Victor Ian Lindstrom Lencina</p>
  
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook-square fs-2 text-secondary"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram fs-2 text-secondary"></i></a>
                </li>
                <li>
                    <a href="#"><button type="button" class="btn btn-outline-success mb-3">Login</button></a>
                </li>
            </ul>
        </nav>
    </div>
  </header>
  
  <div *ngFor="let persona of personas">

  <div class="card mt-2 card-border">
  
    <img src="./assets/img/bg-portfolio.jpg" class="img-fluid card-border bg-picture" alt="fondo de portfolio">
  
    <img src="{{'http://localhost:8080/api/persona/getImage/'+persona.id}}" class="profile-picture" alt="foto mia">
  
    <app-edit-person [dataEntrante]="persona"></app-edit-person>
  
    <div class="card-body">
  
      <h3 class="card-title">{{persona.nombre}} {{persona.apellido}}</h3>
  
      <p class="card-text">{{persona.titulo}}</p>
  
      <p class="card-text">{{persona.localidad}}</p>
        
    </div>
  </div>

  <div class="card mt-3 card-border">

    <div class="card-body">
  
      <h3 class="card-title">Acerca de</h3>
  
      <p class="card-text">{{persona.sobreMi}}</p>
  
    </div>
  </div>

</div>