<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onUpdate()" enctype="multipart/form-data" method="post">
            <div class="row mb-3">
              <label for="nombre" class="col-form-label">Nombres</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
              </div>
            </div>
            <div class="row mb-3">
              <label for="apellido" class="col-form-label">Apellidos</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="apellido" name="apellido" formControlName="apellido">
              </div>
            </div>
            <div class="row mb-3">
                <label for="foto" class="col-form-label">Foto de Perfil</label>
                <div class="col-sm-12">
                  <input type="file" class="form-control" id="foto" accept="image/*" name="foto" (change)="onImageUpload($event)" formControlName="foto">
                  <img src="{{'http://localhost:8080/api/persona/getImage/'+dataEntrante.id}}" height="200" *ngIf="!imgUrl">
                  <img [src]="imgUrl" height="200">
                </div>
              </div>
            <div class="row mb-3">
                <label for="sobreMi" class="col-form-label">Sobre Mi</label>
                <div class="col-sm-10">
                  <textarea type="" class="form-control" id="sobreMi" name="sobreMi" formControlName="sobreMi" rows="10" cols="50"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="localidad" class="col-form-label">Localidad</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="localidad" name="localidad" formControlName="localidad">
                </div>
            </div>
            <div class="row mb-3">
                <label for="titulo" class="col-form-label">Titulo</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
            </div>
          </form>
    </div>
</ng-template>

<button (click)="open(content)" class="no-border"><i class="fas fa-pen text-dark"></i></button>