<div class="card mt-3 card-border">
    
    <h3 class="card-title g-0 mx-3">Educación</h3>

    <div class="btn-add g-0 mx-3">
  
        <app-add-education *ngIf="isLogged"></app-add-education>

    </div>

    <div class="row g-0 mx-3 mt-2" *ngFor="let educacion of educaciones">
  
        <div class="col-md-1">
  
            <img src="{{'https://portfolio-backend-argprog.herokuapp.com/api/educacion/getImage/'+educacion.id}}" class="img-fluid mx-1" alt="logo institución" style="height: 120px; width: 120px;">
  
        </div>
  
        <div class="col-md-11">
          
        <div class="card-body">
  
            <h5 class="card-text">{{educacion.institucion}}</h5>
  
            <div class="">
  
                <app-edit-educacion [dataEntrante]="educacion" *ngIf="isLogged"></app-edit-educacion>
  
                <button (click)="deleteEducacion(educacion.id)" class="no-border" *ngIf="isLogged && isAdmin"><i class="fas fa-trash text-dark"></i></button>
    
            </div>
  
              <p class="card-text"><small class="">{{educacion.carrera}}</small></p>
  
              <p class="card-text"><small class="text-muted">{{educacion.inicio|date:'dd/MM/yyyy'}} - {{educacion.fin|date:'dd/MM/yyyy'}}</small></p>
            </div>
  
          </div>
  
          </div>
  
        </div>