<div class="card mt-3 card-border">
    
  <h3 class="card-title g-0 mx-3">Experiencia Laboral</h3>

  <div class="btn-add g-0 mx-3">

      <app-add-experience *ngIf="isLogged"></app-add-experience>

  </div>

  <div class="row g-0 mx-3 mt-2" *ngFor="let experiencia of experiencias">

      <div class="col-md-1">

          <img src="{{'http://localhost:8080/api/experienciaLaboral/getImage/'+experiencia.id}}" class="img-fluid mx-1" alt="logo empresa" style="height: 120px; width: 120px;">

      </div>

      <div class="col-md-11">
        
      <div class="card-body">

          <h5 class="card-text">{{experiencia.empresa}}</h5>

          <div class="">

              <app-edit-experience [dataEntrante]="experiencia" *ngIf="isLogged"></app-edit-experience>

              <button (click)="deleteExperienciaLaboral(experiencia.id)" class="no-border bg-white" *ngIf="isLogged && isAdmin"><i class="fas fa-trash text-dark"></i></button>
  
          </div>

            <p class="card-text"><small class="">{{experiencia.cargo}}</small></p>

            
            <div *ngIf="experiencia.fin == 'actualidad'; then cosa else elseBlock"></div>

          <p class="card-text">
            <ng-template #cosa><small class="text-muted">{{experiencia.inicio|date:'dd/MM/yyyy'}} - {{experiencia.fin}}</small></ng-template>
            <ng-template #elseBlock><small class="text-muted">{{experiencia.inicio|date:'dd/MM/yyyy'}} - {{experiencia.fin|date:'dd/MM/yyyy'}}</small></ng-template>
          </p>

          </div>

        </div>

        </div>

      </div>