<div class="card mt-3 card-border">
    <div class="row g-0 mx-3">
  
        <h3 class="card-title">Experiencia</h3>
  
        <div class="btn-add">
  
            <a href="#"><i class="fas fa-plus text-dark"></i></a>
  
        </div>
  
      <div class="col-md-1">
  
        <img src="./assets/img/bg-portfolio.jpg" class="img-fluid mx-1" alt="logo empresa" style="height: 90px;">
  
      </div>
  
      <div class="col-md-11">
      
        <div class="card-body">
  
          <h5 class="card-text">Solver System Informática - Técnico Informático</h5>
          <div class="btn-edit-about">
  
            <a href="#"><i class="fas fa-pen text-dark mx-3"></i></a>
  
            <a href="#"><i class="fas fa-trash text-dark"></i></a>
  
        </div>
          <p class="card-text"><small class="">Pasantía, Jornada Parcial</small></p>
          <p class="card-text"><small class="text-muted">Agosto 2016 - Septiembre 2016 - 1 mes, Oberá - Misiones, Argentina</small></p>
        </div>
      </div>
      </div>
    </div>