<!-- Button trigger modal -->
<a type="button" data-bs-toggle="modal" data-bs-target="#addHabilidad"><i class="fas fa-plus text-dark"></i></a>
  
  <!-- Modal -->
  <div class="modal fade" id="addHabilidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onCreate()" enctype="multipart/form-data" method="post">
                <div class="row mb-3">
                  <label for="nombre" class="col-form-label">Nombre Habilidad</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="porcentaje" class="col-form-label">Porcentaje Habilidad</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" formControlName="porcentaje">
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>